<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer data-deferred="1"></script>
</head>

<body>
    <nav class="navbar navbar-top-default navbar-expand-lg navbar-simple nav-line">
        <div class="container">
            <a href="#slider-area" title="Logo" class="logo scroll">
                <!--Logo Default-->
                <img src="/img/fakenews.jpg" title="logo" alt="logo" class="logo-default">
            </a>

            <!--Nav Links-->
            <div class="collapse navbar-collapse" id="megaone">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link scroll line active" href="#pin">Fake News</a>
                    <a class="nav-link scroll line" href="#redes">Redes Sociais</a>
                    <a class="nav-link scroll line" href="#inteligencia">Inteligêngia Artificial</a>
                    <a class="nav-link scroll line" href="#guerra">Tempos de Guerra</a>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div class="container-fluid" id="particles-container">
            <div class="row lineParticles">
                <div class="col-6 titlePin">
                    <h1>FAKE NEWS</h1>
                </div>
            </div>
        </div>
        <div class="container pin" id="pin">
            <div class="row">
                <div class="col-6">
                    <p>Fake news são informações falsas ou enganosas que são apresentadas como verdadeiras, muitas vezes
                        com
                        o objetivo de influenciar o público, promover uma agenda específica ou ganhar audiência.
                        Elas funcionam aproveitando-se da disseminação rápida e viral de informações nas redes sociais e
                        na internet.</p>
                </div>
                <div class="col-6">
                    <img src="/img/fakenews.jpg" title="logo" alt="logo" class="logo-default">
                </div>
            </div>
        </div>
        <div class="container-fluid fold redes" id="redes">
            <div class="row rowFold">
                <div class="col-4 blocFold">
                    <h1>Redes Sociais e Fake News: como a combinação impacta a sociedade?</h1>
                    <p>Durante o período eleitoral no Brasil, pôde-se constatar o volume gigantesco de notícias falsas
                        que saturam as redes sociais. Esses dados são confirmados pelo TSE ao noticiar que recebeu mais
                        de 500 alertas diários de fake news no segundo turno das eleições de 2022.
                        A propagação de desinformação não atrapalha somente o cenário político, mas também o social
                        sendo combustível de uma verdadeira “máquina de ódio”.</p>
                </div>
                <div class="col-4 blocFold">
                    <h1>
                        Como uma Fake News viraliza através das redes sociais?
                    </h1>
                    <p>
                        As pessoas estão inseridas em bolhas, consomem conteúdos e seguem pessoas, construídas com as
                        escolhas que esses usuários fazem online, considerando em quem confiam. Na era digital a onda de
                        desinformação, muitas vezes, é impulsionada por robôs. Recursos de marketing das próprias
                        plataformas também podem ser usados. É o caso do uso de algoritmos para evidenciar determinados
                        conteúdos. Desse modo, essa onda atinge seu público alvo que vai compartilhar naturalmente a
                        notícia justamente por conter elementos de algo que ele já acredita ou teme.
                    </p>
                </div>
                <div class="col-4 blocFold">
                    <h1>
                        Como combater as fake news:
                    </h1>
                    <p>
                        * Escolher as fontes com atenção; </br>
                        * Controlar o compartilhamento das notícias falsas;</br>
                        * Pesquisar a notícia em outros veículos de comunicação;</br>
                        * Informar-se em fontes de credibilidade;</br>
                        * Denunciar as publicações falsas em redes sociais.</br>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="second" id="inteligencia">
        <div class="container-fluid foldSecond">
        </div>
        <div class="container-fluid">
            <div class="row lineInt">
                <div class="col-6 iad intArt">
                    <h1>Como a inteligência artificial
                        potencializa a desinformação</h1>
                    <p>A propagação das fake news tornou-se uma questão em nossa sociedade cada vez mais
                        perigosa. Nesse contexto, a Inteligência Artificial acaba desempenhando um papel
                        significativo no aprimoramento e na propagação eficiente da desinformação.
                        Desafiando os esforços para conter a disseminação de informações falsas e destacando
                        a necessidade urgente de abordagens inovadoras para mitigar os impactos
                        negativos dessas fake news.</p>
                </div>
                <div class="col-6 intArt">
                    <h1>O papel da inteligência artificial na propagação de Fake News</h1>
                    <p>Para segurança da informação, é enfrentado um dilema complexo com a IA. Pois é uma
                        tecnologia feita para otimizar processos e facilitar a vida moderna, mas como ela pode
                        ser utilizada para comprometer a integridade das informações?</p>
                    <div class="container">
                        <div class="collapse" id="collapsewithbutton">
                            <div class="card card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation.
                            </div>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        1- Utilizando Estratégias de manipulação: personalização e segmentação
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">A capacidade da Inteligência Artificial em analisar
                                        padrões de comportamento online,
                                        personalizar mensagens e criar conteúdo convincente permite que agentes
                                        maliciosos
                                        disseminem fake news de maneira eficiente e, muitas vezes, imperceptível.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        2- Propagação das Deepfakes: a distorção avançada da realidade
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Os Deepfakes, usado na manipulação de mídia, a IA pode distorcer a realidade.
                                        Dessa
                                        forma, com a habilidade de criar vídeos e áudios falsos de alta qualidade, os
                                        perpetradores conseguem fabricar declarações e eventos que, apesar de totalmente
                                        fictícios, podem parecer autênticos.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        3- Automação na geração de conteúdo e disseminação rápida
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Além disso, a automação na geração de conteúdo alimenta a disseminação rápida e
                                        em
                                        larga escala de notícias falsas. Bots alimentados por algoritmos de aprendizado
                                        de
                                        máquina podem criar e difundir informações enganosas em um ritmo surpreendente,
                                        sobrecarregando os canais de comunicação tradicionais e dificultando a detecção
                                        de
                                        conteúdos inautênticos
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="third" id="guerra">
        <div class="container-fluid foldThird">
            <div class="row lineFour">
                <div class="col-12">
                    <p>Em tempos de conflitos de guerras, as Fakes News se tornam cada vez mais presentes, desde causar
                        pavor ao
                        público até tirar vantagem governamental nos conflitos.
                        Dentre esses problemas, a população acaba sendo diretamente afetada, caso a pessoa não tenha
                        conhecimento sobre o assunto, como por exemplo:
                        <br>
                        1. Manipulação da Percepção: distorcendo a compreensão pública sobre os acontecimentos da
                        guerra,
                        podendo mudar opiniões e causar mais discórdias.<br> 2. Desinformações sobre as proteções e
                        seguranças: disseminando informações falsas, pode colocar o indivíduo mal informado em risco, ao
                        induzi-lo a cometer uma atitude perigosa.</br>
                        3. Agravamentos de conflitos e fragmentações: Elas podem nutrir a hostilidade de diferentes
                        grupos
                        políticos, étnicos ou religiosos que podem estar envolvidos no conflito. Desse modo,
                        dificultando
                        uma solução pacífica.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid footer">
            <div class="row">
                <div class="col-4">
                    <img src="/img/una.png" title="logo" alt="logo" class="logo-default">
                </div>
            </div>
        </div>
    </footer>
</body>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        /* ---- particles.js config ---- */
        particlesJS("particles-container", {
            particles: {
                number: { value: 150, density: { enable: true, value_area: 800 } },
                color: { value: "#ffffff" },
                shape: {
                    type: "triangle",
                    stroke: { width: 0, color: "#000000" },
                    polygon: { nb_sides: 5 },
                    image: { src: "img/github.svg", width: 100, height: 100 }
                },
                opacity: {
                    value: 0.5,
                    random: false,
                    anim: { enable: false, speed: 1, opacity_min: 0.1, sync: false }
                },
                size: {
                    value: 3,
                    random: true,
                    anim: { enable: false, speed: 40, size_min: 0.1, sync: false }
                },
                line_linked: {
                    enable: true,
                    distance: 150,
                    color: "#ffffff",
                    opacity: 0.4,
                    width: 1
                },
                move: {
                    enable: true,
                    speed: 6,
                    direction: "none",
                    random: false,
                    straight: false,
                    out_mode: "out",
                    bounce: false,
                    attract: { enable: false, rotateX: 600, rotateY: 1200 }
                }
            },
            interactivity: {
                detect_on: "canvas",
                events: {
                    onhover: { enable: true, mode: "repulse" },
                    onclick: { enable: true, mode: "push" },
                    resize: true
                },
                modes: {
                    grab: { distance: 400, line_linked: { opacity: 1 } },
                    bubble: { distance: 400, size: 40, duration: 2, opacity: 8, speed: 3 },
                    repulse: { distance: 200, duration: 0.4 },
                    push: { particles_nb: 4 },
                    remove: { particles_nb: 2 }
                }
            },
            retina_detect: true
        });
        var count_particles, stats, update;
        stats = new Stats();
        stats.setMode(0);
        stats.domElement.style.position = "absolute";
        stats.domElement.style.left = "0px";
        stats.domElement.style.top = "0px";
        document.body.appendChild(stats.domElement);
        count_particles = document.querySelector(".js-count-particles");
        update = function () {
            stats.begin();
            stats.end();
            if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
                count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
            }
            requestAnimationFrame(update);
        };
        requestAnimationFrame(update);
    });
</script>

</html>